input.ng-pristine.ng-invalid{
    background-color: lightpink;
}

input.ng-pristine.ng-valid{
    background-color: lightblue;
}

input.ng-dirty.ng-invalid{
    background-color: red;
}

input.ng-dirty.ng-valid{
    background-color: lightgreen;
}

.error{
    color:red
}