

<div  [ngClass]="{'ProductStyle':true,'Highlighted':isHighlighted}">
    Add to Cart:<input type="checkbox" [(ngModel)]="isHighlighted" [disabled]="!product.quantity"/>
    <div >
        <img [ngStyle] = "product.quantity==0? {opacity:0.2} :'' " [src]="product.imageUrl" height="200px" width="200px" />
    </div>
    <div >
        <h2>{{product.title | uppercase}}</h2>
       Is Free: <input type="checkbox" [(ngModel)]="isFree"/><br/>
       <p *ngIf="!isFree;else elseTemplate ">
            <b>Price: {{product.price|currency:'INR'}} </b>
       </p>
        <ng-template #elseTemplate> <!--ELSE SHOULD BE A NG-TEMPLATE-->
            <b>This is free</b>
        </ng-template>
        <p >Quantity: <span [ngStyle] = "product.quantity==0? {color:'red'}:'' "> {{product.quantity|qty:'nos'}}</span></p>
        <p>Rating: {{product.rating|number:'1.1-2'}}, Likes: {{product.likes}}</p>
        <!-- <p>RAW Data: {{product | json}}</p> -->
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
    </div>
</div>

