

<div  [ngClass]="{'ProductStyle':true,'Highlighted':isHighlighted}">
    Add to Cart:<input type="checkbox" [(ngModel)]="isHighlighted" [disabled]="!product.quantity" (click)="addToCart()"/>
    <div >
        <img [ngStyle] = "product.quantity==0? {opacity:0.2} :'' " [src]="product.imageUrl" height="200px" width="200px" />
    </div>
    <div >
        <h2>{{product.title }}</h2>
       Is Free: <input type="checkbox" [(ngModel)]="isFree"/><br/>
       <p *ngIf="!isFree;else elseTemplate ">
            <b>Price: {{product.price|currency:'INR'}} </b>
       </p>
        <ng-template #elseTemplate> <!--ELSE SHOULD BE A NG-TEMPLATE-->
            <b>This is free</b>
        </ng-template>
        <p >Quantity: <span [ngStyle] = "product.quantity==0? {color:'red'}:'' "> {{product.quantity|qty:'nos'}}</span></p>
        <p>Rating: {{product.rating|number:'1.1-2'}}, Likes: {{product.likes}}</p>
        <!-- <p>RAW Data: {{product | json}}</p> -->
        <div class="row">
            <div class ="col-md-6 float-left">
                    <button class="btn btn-primary ">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                    </button>
            </div>
            <div class="col-md-6 float-right">
                <button class="btn btn-danger  "  (click)="delete()">
                    <span class="glyphicon  glyphicon-trash"></span>
                </button>
            </div>
        </div>
       
    </div>
</div>

